@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

nav img {
  width: 60px;
  height: 60px;
}

.profilePic {
  width: 350px;
  height: 500px;
}

.projectImg {
  width: 350px;
  height: 200px;
}